<%

const { title, metadata } = htmlWebpackPlugin.options;

%>

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= title %></title>

    <meta name="date" content="<%= (new Date()).toISOString() %>">

    <% if (metadata) { %>
      <% if (metadata.name) { %>
        <meta name="application-name" content="<%= metadata.name %>">
      <% } %>

      <% if (metadata.description) { %>
        <meta name="description" content="<%= metadata.description %>">
      <% } %>

      <% if (metadata.keywords && metadata.keywords.length > 0) { %>
        <meta name="keywords" content="<%= metadata.keywords.join(', ') %>">
      <% } %>

      <% if (metadata.version) { %>
        <meta name="version" content="<%= metadata.version %>">
      <% } %>

      <% if (metadata.repository) { %>
        <link rel="code-repository" href="<%= metadata.repository.url
          ? metadata.repository.url
          : metadata.repository
        %>">
      <% } %>

      <% if (metadata.bugs) { %>
        <link rel="help" href="<%= metadata.bugs %>" type="text/html">
      <% } %>

      <% if (metadata.author) {
        let author = '';

        if (metadata.author.name) {
          author += metadata.author.name;
        }

        if (metadata.author.email) {
          author += author.length > 0
            ? ` <${metadata.author.email}>`
            : metadata.author.email;
        }

        if (metadata.author.url) {
          author += author.length > 0
            ? ` (${metadata.author.url})`
            : metadata.author.url;
        }

        if (metadata.length === 0) {
          author = metadata.author;
        }
      %>
        <meta name="author" content="<%= author %>">

        <% if (metadata.author.email) { %>
          <meta name="reply-to" content="<%= metadata.author.email %>">
          <link rel="author" href="mailto:<%= metadata.author.email %>">
          <link rel="me" href="mailto:<%= metadata.author.email %>">
        <% } %>

        <% if (metadata.author.url) { %>
          <link rel="author" href="<%= metadata.author.url %>" type="text/html">
          <link rel="me" href="<%= metadata.author.url %>" type="text/html">
        <% } %>
      <% } %>

      <% if (metadata.license) { %>
        <meta name="code-license" content="<%= metadata.license %>">
      <% } %>

      <% if (metadata.revision) { %>
        <meta name="revision" content="<%= metadata.revision %>">
      <% } %>
    <% } %>
  </head>

  <body>
    <div id="container">
      <p>Loading...</p>
    </div>
  </body>
</html>
